.error-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.error-page-content {
    text-align: center;
    padding: 2rem;
    background-color: transparent;
    border-radius: 1rem;
    max-width: 90%;
    width: 400px;
}

.error-page-content h1 {
    font-size: 5rem;
    color: #333333;
    margin-bottom: 1rem;
    line-height: 1;
}

.error-page-content p {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 2rem;
    line-height: 1.4;
}

.error-page-home-button {
    display: inline-block;
    background-color: transparent;
    color: #333333;
    border: 1px solid #333333;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.error-page-home-button:hover {
    background-color: #333333;
    color: white;
}

@media (max-width: 480px) {
    .error-page-content {
        padding: 1.5rem;
    }

    .error-page-content h1 {
        font-size: 3rem;
    }

    .error-page-content p {
        font-size: 0.9rem;
    }

    .error-page-home-button {
        padding: 0.6rem 1.2rem;
        font-size: 0.8rem;
    }
}